body {
    font-family: "Open Sans";
}

#main {
    margin: 10px 20px;
}

#map {
    float:left;
}

#chart {
    float: right;
}

.normalpath {
    opacity: 0.9;
    stroke-width: 1.7;
    stroke: white;
    z-index: -100;
}

.normalpath:hover {
    opacity: 1;
    stroke-width: 3.0;
    stroke: white;
    z-index: 100;
}

.normaltext {
    visibility: hidden;
    font-family: sans-serif;
    font-size: 16px;
    position:absolute;
    text-anchor: middle;
    fill: black;
}

.hovertext {
    visibility: visible;
    font-family: sans-serif;
    font-size: 16px;
    position:absolute;
    text-anchor: middle;
    fill: black;
}
